/* start global  */

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

.titleHead {
    font-size: x-large;
}

.parHead {
    font-size: 15px;
    color: #888;
    margin-top: 15px;
}


.dashboard {
    padding: 20px;
}

.dashboardContent {
    margin-top: 50px;
}

.dashboardContent .t {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.dashboardContent .t > div {
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 20px;
}

.dashboard .t .welcome {
    padding-bottom: 20px;
}

.dashboard .t .welcome .head {
    padding: 20px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    position: relative;
}


.dashboard .t .welcome .head .w span {
    display: block;
    margin-top: 5px;
    color: #888;
    font-size: 18px;
}

.dashboard .t .welcome .head .img img{
    width: 200px;
}

.dashboard .t .welcome .head .welAvatar {
    position: absolute;
    width: 60px;
    bottom: -30px;
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dashboard .t .about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.dashboard .t .about h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.dashboard .t .about span {
    color: #888;
    font-size: 14px;
}


.dashboard .welcome .welcomeBtn {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.dashboard .welcome .welcomeBtn button {
    margin-right: 20px;
    font-size: 16px;
}

@media (max-width : 767px) {

    .dashboard .t .welcome .head .welAvatar {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .dashboard .t .welcome .head .img img {
        display: none;
    }
    .dashboard .t .about {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 1175px) {
    .dashboardContent .t {
        grid-template-columns: minmax(200px, 1fr);
    }
}

.dashboardContent .draft {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboardContent .draft p {
    margin: 0;
}

.dashboardContent .draft input, .dashboardContent .draft textarea {
    background-color: #eee;
    border: none;
    padding: 10px;
}

.dashboard .draft textarea {
    resize: none;
}

.dashboard .draft .welcomeBtn {
    display: flex;
    justify-content: flex-end;
}

.dashboard .targets .targetsProj {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard .targets .targetsProj > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 20px;
}

.dashboard .targets .targetsProj>div .icon {
    width: 80px;
    height: 80px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.dashboard .targets .targetsProj>div:nth-child(1) .icon {
    background-color: #0077ff34;
}

.dashboard .targets .targetsProj>div:nth-child(1) .icon i{
    color: #0077ff;
}

.dashboard .targets .targetsProj>div:nth-child(2) .icon {
    background-color: #f59e0b34;
}

.dashboard .targets .targetsProj>div:nth-child(2) .icon i {
    color: #f59e0b;
}

.dashboard .targets .targetsProj>div:nth-child(3) .icon {
    background-color: #22c55e34;
}

.dashboard .targets .targetsProj>div:nth-child(3) .icon i {
    color: #22c55e;
}

.dashboard .targets .targetsProj .proj {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard .targets .targetsProj .proj span:nth-child(1){
    color: #888;
}

.dashboard .targets .targetsProj .proj span:nth-child(2) {
    font-weight: bolder;
}

.dashboard .targets .targetsProj div .proj div {
    width: 100%;
    height: 4px;
    position: relative;
}

.dashboard .targets .targetsProj div .proj div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}


.dashboard .targets .targetsProj div .proj div::after {
    content: "";
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    position: absolute;
    top: -20px;
    border-width: 5px;
    border-style: solid;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.dashboard .targets .targetsProj div:nth-child(1) .proj div {
    background-color: #0075ff34;
}

.dashboard .targets .targetsProj div:nth-child(1) .proj div::before {
    background-color: #0075ff;
    width: 80%;
}

.dashboard .targets .targetsProj div:nth-child(1) .proj div::after {
    content: "80%";
    left: 80%;
    border-color: #0075ff transparent transparent transparent;
}

.dashboard .targets .targetsProj div:nth-child(2) .proj div {
    background-color: #f59e0b34;
}

.dashboard .targets .targetsProj div:nth-child(2) .proj div::before {
    background-color: #f59e0b;
    width: 55%;
}

.dashboard .targets .targetsProj div:nth-child(2) .proj div::after {
    content: "55%";
    left: 55%;
    border-color: #f59e0b transparent transparent transparent;
}

.dashboard .targets .targetsProj div:nth-child(3) .proj div {
    background-color: #22c55e34;
}

.dashboard .targets .targetsProj div:nth-child(3) .proj div::before {
    background-color: #22c55e;
    width: 75%;
}

.dashboard .targets .targetsProj div:nth-child(3) .proj div::after {
    content: "75%";
    left: 75%;
    border-color: #22c55e transparent transparent transparent;
}

.dashboard .statistics .tic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px , 1fr));
    gap: 20px;
}

.dashboard .statistics .tic div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #eee;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.dashboard .statistics .tic div:nth-child(1) i{
    font-size: 30px;
    color: #f59e0b;
}

.dashboard .statistics .tic div:nth-child(2) i {
    font-size: 30px;
    color: #0075ff;
}

.dashboard .statistics .tic div:nth-child(3) i {
    font-size: 30px;
    color: #22c55e;
}

.dashboard .statistics .tic div:nth-child(4) i {
    font-size: 30px;
    color: red;
}

.dashboard .statistics .tic div span:nth-child(2) {
    font-weight: bolder;
    font-size: 25px;
}

.dashboard .statistics .tic div span:nth-child(3) {
    color: #888;
}

.dashboard .news .newsContent {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dashboard .news .newsContent >div{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dashboard .news .newsContent > div:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: -30px;
    background-color: #eee;
}

.dashboard .news .newsContent>div>div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.dashboard .news .newsContent>div img{
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dashboard .news .newsContent>div h3 {
    font-size: 17px;
}

.dashboard .news .newsContent>div p {
    font-size: 12px;
    margin-top: 5px;
    color: #888;
}

.dashboard .news .newsContent>div span {
    display: inline-block;
    font-size: 12px;
    background-color: #eee;
    padding: 7px;
}

@media (max-width:767px) {
    .dashboard .news .newsContent>div {
        flex-direction: column;
    }

    .dashboard .news .newsContent>div>div {
        flex-direction: column;
    }
}

/* start tasks */

.dashboard .tasks .tasksContent {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.dashboard .tasks .tasksContent > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .tasks .tasksContent>div div h3{
    font-size: 17px;
    color: #121212;
}

.dashboard .tasks .tasksContent>div div p {
    font-size: 13px;
    margin-top: 10px;
    color: #888;
}

.dashboard .tasks .tasksContent>div i {
    color: #121212;
}

.done {
    opacity: 0.4;
}

.done h3, .done p {
    text-decoration: line-through;
}

/* start items  */

.dashboard .items .itemsContent {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .items .itemsContent span {
    color: #888;
}

.dashboard .items .itemsContent ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dashboard .items .itemsContent div:nth-child(2) ul {
    align-items: flex-end;
}

.dashboard .items .itemsContent div:nth-child(2) ul li {
    background-color: #eee;
    /* padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px; */
}

/* start uploads */

.dashboard .uploads .uploadsContent {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard .uploads .uploadsContent .uploadsFile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dashboard .uploads .uploadsContent .uploadsFile > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard .uploads .uploadsContent .uploadsFile:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eee;
    top: -10px;
    left: 0;
}

.dashboard .uploads .uploadsContent .uploadsFile>div img{
    width: 40px;
}

.dashboard .uploads .uploadsContent .uploadsFile>div h3 {
    font-size: 16px;
    font-weight: 400;
}

.dashboard .uploads .uploadsContent .uploadsFile>div p {
    font-size: 14px;
    margin-top: 5px;
    color: #888;
}

.dashboard .uploads .uploadsContent .uploadsFile span {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 14px;
}

/* start progress */

.dashboard .progress {
    position: relative;
}

.dashboard .progress img {
    position: absolute;
    bottom: 0;
    width: 150px;
    right: 0;
    opacity: 0.2;
}

.dashboard .progress .progressContent {
    margin-top: 25px;
    position: relative;
}

.dashboard .progress .progressContent ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.dashboard .progress .progressContent ul li {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.dashboard .progress .progressContent ul li > div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #0075ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dashboard .progress .progressContent ul li:not(:nth-child(5))>div::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 2px;
    height: 32px;
    background-color: #0075ff;
}

.progFinsh {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #0075ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progWaiting {
    animation: waiting 1s ease-in-out infinite;
    -webkit-animation: waiting 1s ease-in-out infinite;
}

@keyframes waiting {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .dashboard .progress img {
        display: none;
    }
}

/* start reminders  */

.dashboard .remindersContent {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard .remindersContent .reminderTask {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard .remindersContent .reminderTask .reminderShap {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .remindersContent .reminderTask .reminderShap div {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dashboard .remindersContent .reminderTask:nth-child(1) .reminderShap {
    border-right: 2px solid #0075ff;
}

.dashboard .remindersContent .reminderTask:nth-child(1) .reminderShap div {
    background-color: #0075ff;
}

.dashboard .remindersContent .reminderTask:nth-child(2) .reminderShap {
    border-right: 2px solid #f44336;
}

.dashboard .remindersContent .reminderTask:nth-child(2) .reminderShap div {
    background-color: #f44336;
}

.dashboard .remindersContent .reminderTask:nth-child(3) .reminderShap {
    border-right: 2px solid #22c55e;
}

.dashboard .remindersContent .reminderTask:nth-child(3) .reminderShap div {
    background-color: #22c55e;
}

.dashboard .remindersContent .reminderTask:nth-child(4) .reminderShap {
    border-right: 2px solid #f59e0b;
}

.dashboard .remindersContent .reminderTask:nth-child(4) .reminderShap div {
    background-color: #f59e0b;
}

.dashboard .remindersContent .reminderTask .reTask h3 {
    font-size: 14px;
    font-weight: 500;
    color: #121212;
}

.dashboard .remindersContent .reminderTask .reTask p {
    font-size: 13px;
    color: #888;
    margin-top: 5px;
}

/* start post  */

.dashboard .post .postContent {
    margin-top: 25px;
}

.dashboard .post .postContent .postHead {
    display: flex;
    gap: 15px;
    align-items: center;
}

.dashboard .post .postContent .postHead img{
    width: 50px;
}

.dashboard .post .postContent .postHead h3 {
    font-size: 17px;
    color: #121212;
    font-weight: 500;
}

.dashboard .post .postContent .postHead p {
    font-size: 14px;
    margin-top: 5px;
    color: #888;
}

.dashboard .post .postContent > p {
    margin: 30px 0;
    padding: 20px 0;
    text-align: center;
    line-height: 1.7;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    letter-spacing: 1px;
}

.dashboard .post .postContent .reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888;
}
